html, body {
    margin: 0;
    padding: 0;
}

.embed-container {
    position: relative;
    width: 100%;
    padding-top: 60%; /* adjust to your aspect ratio */
}

.embed-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}
